<!-- Footer -->
<footer class="bg-yellow-200 p-4">
	<div class="max-w-screen-lg mx-auto text-center">
		<p class="text-green-900">
			© {{dates.year.now()}} De Soester Vogelvrienden
		</p>
	</div>
	<div class="bird-container">
		<div class="bird"></div>
	</div> 
</footer>