<header class="bg-yellow-200 p-4 shadow-md">
	<div class="mx-auto flex items-center justify-between">
		<div class="flex items-center">
			<a href="{{ '/' | url }}" class="inline-block">
				<h1 class="site-title">
					<span class="site-title-full">De Soester Vogelvrienden</span>
					<abbr class="site-title-abbr">SVV</abbr>
				</h1>
			</a>
		</div>
		<div class="hidden lg:block w-32">
			<a href="{{ '/contact' | url }}" class="button w-full">Contact</a>
		</div>
	</div>
</header>