---
title: Contact Succesvol!
description: Bedankt voor uw bericht. We gaan er zo snel mogelijk mee aan de slag.
layout: page.njk
eleventyExcludeFromCollections: true
---

<main class="max-w-5xl mx-auto p-6">
	<section class="p-8 max-w-2xl my-10 mx-auto bg-white shadow-lg rounded-xl">
		<h1 class="text-3xl font-semibold mb-4">Bedankt voor uw bericht!</h1>
		<p class="mb-4">
			Bedankt voor uw bericht. We gaan er zo snel mogelijk mee aan de slag.
		</p>
		<p class="mb-4">
			<a href="/" class="button">Terug naar de hoofdpagina</a>
		</p>
	</section>
</main>